<div class='container'>
   <h1>Aanvraag inhaalexamen</h1>

   <form (ngSubmit)='onSubmit()' #productForm='ngForm'>

      <div class='form-group'>
         <label for='name'>Name :</label>
         <input type='text' class='form-control' id='name' required
            [(ngModel)]='model.name' name='name'>
      </div>
      <br />
      <div class='form-group'>
         <label for='examen'>examen :</label>
         <input type='text' class='form-control' id='examen' required
            [(ngModel)]='model.examen' name='examen'>
      </div>
      <br />
      <div class='form-group'>
         <label for='reden'>reden :</label>
         <input type='text' class='form-control' id='reden' required
            [(ngModel)]='model.reden' name='reden'>
      </div>
      <br />
      <br />
      
      <br />
      <button type='submit' class='btn btn-success' [disabled]='productForm.invalid'>Indienen</button>
      <br/><br/>

      {{ productForm.value | json }}

   </form>
</div>
